{% extends 'base.html.twig' %}

{% block title %}Dashboard | Manage Team{% endblock %}
{% block head_title %}
    <h2>{{ team.name }}</h2>
{% endblock %}


{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ team.name }}</li>
  </ol>
</nav>


<div class="row  w-100">
    <div class="col-lg  col-md-4  col-sm-12  col-12  mb-4">
        <div class="card">
            <div class="card-header  d-flex  align-items-center">
                <a class="card-title  mb-0  h6  text-secondary">{{ team.name }}</a>
                
                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_ADD_MEMBER_TO_TEAM'), app.user) %}
                    <button class="btn  btn-primary  button  button--add  ml-auto" data-toggle="modal" data-target="#addMemberToTeam">+</button>
                {% endif %}
            </div>

            <div class="list-group  w-100">
                {% for item in team.members %}
                    <p class="list-group-item  list-group-item-action  d-flex  align-items-center  py-0  h7  text-primary">
                        <a class="d-block  w-75  py-2" href="#!">
                            {{ item.email }}
                        </a>
                        <span class="font-italic  text-black-50">({{ item.roles|join(', ') }})</span>

                        {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_DELETE_MEMBER_FROM_TEAM'), app.user) %}
                            <a href="{{ path('app_dashboard_team_manage_delete_member', {'team_id': team.id, 'member_id': item.id}) }}" class="btn  btn-secondary  ml-auto  button  button--remove">X</a>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-lg-8  col-md-8  d-flex  flex-wrap">
        <div class="row w-100">
            {% for item in team.projects %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-title  d-block  mb-3  h6" href="#">{{ item.name }}</a>
                            <p class="card-subtitle  h7">
                                лЪлю:
                                <a href="#!">{{ item.customer.email }}</a>
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text  h7">
                                {{ item.description }}
                            </p>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>

</div>


{% include 'dashboard/team/modal/add_member.html.twig' with {'form': memberForm} %}

{% endblock %}
