{% extends 'base.html.twig' %}

{% block title %}Admin Panel | Create Permission{% endblock %}
{% block head_title %}
    <h2>Create Permission</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Admin Panel</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_admin_security') }}">Admin Panel</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_admin_security_permission') }}">Permissions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Permission</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    {{ form(form) }}

{% endblock %}