{% extends 'base.html.twig' %}

{% block title %}Admin Panel | Security{% endblock %}
{% block head_title %}
    <h2>Security</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Admin Panel</a></li>
        <li class="breadcrumb-item active" aria-current="page">Security</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col col-sm-12">
            <div class="list-group">
                <a href="{{ path('app_admin_security_role') }}" class="list-group-item list-group-item-action">Role manager</a>
                <a href="{{ path('app_admin_security_permission') }}" class="list-group-item list-group-item-action">Permission manager</a>
                <a href="{{ path('app_admin_security_user') }}" class="list-group-item list-group-item-action">User manager</a>
            </div>
        </div>
    </div>

{% endblock %}