{% extends 'base.html.twig' %}

{% block title %}Product Panel | Add Member{% endblock %}
{% block head_title %}
    <h2>{{ team.name }}</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_product_panel') }}">Product Panel</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_product_panel_team') }}">Teams</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_product_panel_team_manage', {'id': team.id}) }}">{{ team.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add member</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    {{ form(form) }}

{% endblock %}