<div class="tab-pane" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
    <br>
    <div class="row">
        <div class="col-sm-12">
            {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_CREATE_PROJECT'), app.user) %}
                <a href="#" class="btn btn-primary float-right" data-toggle="modal" data-target="#projectCreate" onclick="getUsersForSelect(this, '#project_customer', '{{ constant('App\\Enum\\RoleEnum::CUSTOMER') }}')">Create</a>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="slider">
               {% for item in app.user.myProjects %}
                   <div class="card  card-item">
                       <div class="card-header">
                           <a class="card-title  d-block  mb-3  h6" href="#">{{ item.name }}</a>
                           <p class="card-subtitle  h7  mb-3">
                               Team:
                               <a href="#!">{{ item.team.name }}</a>
                           </p>
                           <p class="card-subtitle  h7">
                               Customer:
                               <a href="{{ path('app_dashboard_show_profile', {id: item.customer.id}) }}">{{ item.customer.email }}</a>
                           </p>
                       </div>
                                    
                       <div class="card-body">
                           <p class="card-text  h7">
                               {{ item.description }}
                           </p>
                       </div>
                   </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div>
