<div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <br>
    <div class="row">
        <div class="col-sm-12">
            {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_CREATE_TASK'), app.user) %}
                <a href="#" class="btn btn-primary float-right" data-toggle="modal" data-target="#taskCreate">Create</a>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="slider">

                {% for item in tasks %}
                    <div class="card card-item">
                        <div class="card-header  p-3">
                            <p>
                                <a class="card-title  h6" href="#!">{{ item.name }}</a>
                            </p>
                            <p class="card-subtitle  h7  mb-3">
                                Executor:
                                <a href="#!">{{ item.executor.email }}</a>
                            </p>
                            <p class="card-subtitle  h7 mb-3">
                                Team:
                                <a href="#!">{{ item.team.name }}</a>
                            </p>
                            <p class="card-subtitle  h7">
                                Project:
                                <a href="#!">{{ item.project.name }}</a>
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text h7">{{ item.description }}</p>
                            {% if (is_granted_mark(app.user)) %}
                                <a href="{{ path('app_dashboard_check_list', {"id" : item.id}) }}" class="btn btn-primary {{ (is_granted(constant('App\\Enum\\PermissionEnum::CAN_BE_TEAMLEAD'), app.user) and app.user.id == item.executor.id) ? 'disabled' : '' }}">Mark</a>
                            {% endif %}
                            {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_UPDATE_TASK'), app.user) %}
                                <a href="#" class="task-edit float-right">
                                    <img id="{{ item.id }}" src="img/icon-edit.svg" alt="Edit" width="25" height="25">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>      
</div>
