<div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <br>
    <div class="row">
        <div class="col-sm-12">
            {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_CREATE_TASK'), app.user) %}
                <a href="#" class="btn btn-primary float-right" data-toggle="modal" data-target="#taskCreate" onclick="getUsersForSelect(this, '#task_executor')">Create</a>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="slider">

                {% for item in tasks %}
                    <div class="card card-item">
                        <div class="card-header  p-3">
                            <p>
                                <a class="card-title  h6" href="{{ path('app_dashboard_task_details', {id: item.id}) }}">{{ item.name }}</a>
                                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_DELETE_TASK'), app.user)
                                    and item.author == app.user %}
                                    <a title="Archive" href="#" class="task-archive float-right" data-toggle="modal" data-target="#taskArchive">
                                        <i id="{{ item.id }}" class="fas fa-trash-alt fa-lg"></i>
                                    </a>
                                {% endif %}
                                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_UPDATE_TASK'), app.user)
                                    and item.author == app.user %}
                                    <a title="Update" href="#" class="task-edit float-right" onclick="getUsersForSelect(this, '#task_executor_update')">
                                        <i id="{{ item.id }}" class="far fa-edit fa-lg"></i>
                                    </a>
                                {% endif %}
                            </p>
                            <p class="card-subtitle  h7  mb-3">
                                Author:
                                <a href="#!">{{ item.author.email }}</a>
                            </p>
                            <p class="card-subtitle  h7  mb-3">
                                Executor:
                                <a href="#!">{{ item.executor.email }}</a>
                            </p>
                            <p class="card-subtitle  h7 mb-3">
                                Team:
                                <a href="#!">{{ item.team.name }}</a>
                            </p>
                            <p class="card-subtitle  h7 mb-3">
                                Project:
                                <a href="#!">{{ item.project.name }}</a>
                            </p>

                            <p class="card-subtitle h7">
                                Status:
                                {{ item.getStatus() | statusInfo | raw}}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text h7">{{ item.description }}</p>
                            {% if (is_granted_mark(app.user)) %}
                                <a href="{{ path('app_dashboard_check_list', {"id" : item.id}) }}" class="btn btn-primary {{ (is_granted(constant('App\\Enum\\PermissionEnum::CAN_BE_TEAMLEAD'), app.user) and app.user.id == item.executor.id) ? 'disabled' : '' }}">Mark</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>      
</div>
