<div id="projectCreate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            {{ form_start(form) }}

                <div class="modal-header">
                    <h4 class="modal-title">New Project</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <div class="modal-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.team) }}
                    {{ form_row(form.customer) }}
                    {{ form_row(form.description) }}
                </div>

                <div class="modal-footer">
                    {{ form_row(form.save) }}
                </div>

            {{ form_end(form) }}
        </div>

    </div>
</div>
