{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block head_title %}
    <h2>Dashboard</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col col-sm-12">
            <div class="list-group">
                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_TASK'), app.user) %}
                    <a href="{{ path('app_dashboard_task') }}" class="list-group-item list-group-item-action">Tasks</a>
                {% endif %}
                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_TEAM'), app.user) %}
                    <a href="{{ path('app_dashboard_team') }}" class="list-group-item list-group-item-action">Teams</a>
                {% endif %}
                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_PROJECT'), app.user) %}
                    <a href="{{ path('app_dashboard_project') }}" class="list-group-item list-group-item-action">Projects</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <br>
    
    <div class="row">
        <div class="col col-sm-12">
            {% for item in tasks %}
            
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Executor: {{ item.executor.email }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Team: {{ item.team.name }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Project: {{ item.project.name }}</h6>
                        <p class="card-text">{{ item.description }}</p>
                        
                        {% if (is_granted_mark(app.user)) %}
                            <a href="{{ path('app_dashboard_check_list', {"id" : item.id}) }}" class="btn btn-primary {{ (is_granted(constant('App\\Enum\\PermissionEnum::CAN_BE_TEAMLEAD'), app.user) and app.user.id == item.executor.id) ? 'disabled' : '' }}">Mark</a>
                        {% endif %}
                    </div>
                </div>
                
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
