{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block head_title %}
    <h2>Dashboard</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/script.js"></script>
{% endblock %}

{% block body %}

    <div class="row  p-4  bg-light  rounded">
        <div class="col-sm  d-flex  flex-wrap  user">
            <div class="flex-shrink-0  mr-4">
                <img class="rounded  user-avatar" src="https://placehold.it/120x150" alt="User avatar" width="120" height="150">
            </div>

            <div class="d-flex  flex-column">
                <span class="mb-2  h5  font-weight-bold  user__name">{{ app.user.email }}</span>
                <span class="mb-2  h6">{{ app.user.roles|join(', ')}}</span>
                <a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a>
            </div>
        </div>

        <div class="col-sm  rating">
            <div>
                <p class="h6">Сколько оценок поставил: <a class="font-weight-bold" href="{{ path('app_dashboard_history_outcoming')}}">{{ authorMarks }}</a></p>
                <p class="h6  mb-4">Сколько оценок получил: &nbsp;<a class="font-weight-bold" href="{{ path('app_dashboard_history_incoming')}}">{{ receiveMarks }}</span></p>
            </div>

            <div class="list-group  list-group-horizontal">
                <a class="list-group-item  list-group-item-action  d-flex  align-items-center  justify-content-center  w-25  p-0  py-2 " href="#">
                    <img src="img/icon-github.svg" alt="github icon" width="24" height="24">
                </a>
                <a class="list-group-item  list-group-item-action  d-flex  align-items-center  justify-content-center  w-25  p-0  py-2 " href="#">
                    <img src="img/icon-gitlab.svg" alt="gitlab icon" width="24" height="24">
                </a>
                <a class="list-group-item  list-group-item-action  d-flex  align-items-center  justify-content-center  w-25  p-0  py-2 " href="#">
                    <img src="img/icon-telegram.svg" alt="telegram icon" width="24" height="24">
                </a>
                <a class="list-group-item  list-group-item-action  d-flex  align-items-center  justify-content-center  w-25  p-0  py-2 " href="#">
                    <img src="img/icon-skype.svg" alt="skype icon" width="24"  height="24">
                </a>
            </div>
        </div>
    </div>
 
    <div class="w-100  my-4  mx-3  separator"></div>
 
    <br>

    {% include 'parts/flash_message.html.twig' %}
    
    <div class="row">
        <div class="col col-sm-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tasks</a>
                    {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_PROJECT'), app.user) %}
                        <a class="nav-item nav-link" id="nav-projects-tab" data-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-projects" aria-selected="false">Projects</a>
                    {% endif %}
                    {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_TEAM'), app.user) %}
                        <a class="nav-item nav-link" id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab" aria-controls="nav-team" aria-selected="false">Teams</a>
                    {% endif %}
                    {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_GENERATE_MARK_REPORT'), app.user) %}
                        <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false" onclick="getUsersForSelect()">Report</a>
                    {% endif %}

                </div>

            </nav>
            <div class="tab-content" id="nav-tabContent">
                {% include 'dashboard/task/tab/list_preview.html.twig' %}
                
                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_TEAM'), app.user) %}
                    {% include 'dashboard/team/tab/list_preview.html.twig' %}
                {% endif %}

                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_GENERATE_MARK_REPORT'), app.user) %}
                    {% include '/dashboard/report/tab/report-form.html.twig' with {'form': userReportForm} %}
                    {% include '/dashboard/report/modal/report-modal.html.twig' %}
                {% endif %}

                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_PROJECT'), app.user) %}
                    {% include 'dashboard/project/tab/list_preview.html.twig' %}
                {% endif %}


            </div>

        </div>
    </div>

    <div id="taskUpdate" class="modal fade" role="dialog"></div>

    {% include 'dashboard/task/modal/create.html.twig' with {'form': taskForm} %}
    {% include 'dashboard/project/modal/create.html.twig' with {'form': projectForm} %}
    {% include 'dashboard/team/modal/create.html.twig' with {'form': teamForm} %}

{% endblock %}
