{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block head_title %}
    <h2>Dashboard</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/script.js"></script>
{% endblock %}

{% block body %}

    <div class="row  p-4  bg-light  rounded">
        <div class="col-sm  d-flex  flex-wrap  user">
            <div class="flex-shrink-0  mr-4">
                {% if app.user.profileInfo.avatar is not empty %}
                    <img class="rounded  user-avatar" src="{{ asset('/img/avatar/' ~ app.user.profileInfo.avatar) }}" alt="User avatar" width="120" height="150">
                {% else %}
                    <img class="rounded  user-avatar" src="https://placehold.it/120x150" alt="User avatar" width="120" height="150">
                {% endif %}
            </div>

            <div class="d-flex  flex-column">
                <span class="mb-2  h5  font-weight-bold  user__name">
                {% if app.user.profileInfo.firstname is not empty or app.user.profileInfo.surname is not empty %}
                    {% if app.user.profileInfo.firstname is not empty %}
                        {{ app.user.profileInfo.firstname }}&nbsp
                    {% endif %}
                    {% if app.user.profileInfo.surname is not empty %}
                        {{ app.user.profileInfo.surname }}
                    {% endif %}
                {% else %}
                    {{ app.user.email }}
                {% endif %}
                </span>
                <span class="mb-2">
                    {% if app.user.profileInfo.jobPosition is not empty %}
                        {{ app.user.profileInfo.jobPosition }}&nbsp
                    {% endif %}
                    {% if app.user.profileInfo.city is not empty %}
                        from {{ app.user.profileInfo.city }},&nbsp
                    {% endif %}
                    {% if app.user.profileInfo.country is not empty %}
                        {{ app.user.profileInfo.country }},&nbsp
                    {% endif %}
                    {% if app.user.profileInfo.age is not empty %}
                        {{ app.user.profileInfo.age }} y.o.
                    {% endif %}
                </span>
                <a href="{{ path('app_dashboard_edit_profile', {id: app.user.id}) }}">Редактировать личные данные</a>
            </div>
        </div>

        <div class="col-sm  rating">
            <div>
                <p class="h6">Сколько оценок поставил: <a class="font-weight-bold" href="{{ path('app_dashboard_history_outcoming')}}">{{ authorMarks }}</a></p>
                <p class="h6  mb-4">Сколько оценок получил: &nbsp;<a class="font-weight-bold" href="{{ path('app_dashboard_history_incoming')}}">{{ receiveMarks }}</a></p>
            </div>
        </div>
    </div>

    {% include 'parts/flash_message.html.twig' %}
 
    <div class="w-100  my-4  mx-3  separator"></div>

    {% include 'dashboard/goal/list_goals.html.twig' %}

    <div class="w-100  my-4  mx-3  separator"></div>
    
    <div class="row">
        <div class="col col-sm-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tasks</a>
                    
                    {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_PROJECT'), app.user) %}
                        <a class="nav-item nav-link" id="nav-projects-tab" data-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-projects" aria-selected="false">Projects</a>
                    {% endif %}
                    
                    {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_TEAM'), app.user) %}
                        <a class="nav-item nav-link" id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab" aria-controls="nav-team" aria-selected="false">Teams</a>
                    {% endif %}
                    
                    {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_GENERATE_MARK_REPORT'), app.user) %}
                        <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false" onclick="getUsersForSelect(this, '#user_report_user')">Report</a>
                    {% endif %}
                    
                    {% if archivedTasks is not empty %}
                        <a class="nav-item nav-link" id="nav-archived-tab" data-toggle="tab" href="#nav-archived" role="tab" aria-controls="nav-archived" aria-selected="false">Archive</a>
                    {% endif %}
                </div>

            </nav>
            <div class="tab-content" id="nav-tabContent">
                {% include 'dashboard/task/tab/list_preview.html.twig' %}
                
                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_TEAM'), app.user) %}
                    {% include 'dashboard/team/tab/list_preview.html.twig' %}
                {% endif %}

                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_GENERATE_MARK_REPORT'), app.user) %}
                    {% include '/dashboard/report/tab/report-form.html.twig' with {'form': userReportForm} %}
                    {% include '/dashboard/report/modal/report-modal.html.twig' %}
                {% endif %}

                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_PROJECT'), app.user) %}
                    {% include 'dashboard/project/tab/list_preview.html.twig' %}
                {% endif %}

                {% include 'dashboard/task/tab/archived_tasks.html.twig' %}
            </div>

        </div>
    </div>

    <div id="taskUpdate" class="modal fade" role="dialog"></div>

    {% include 'dashboard/task/modal/create.html.twig' with {'form': taskForm} %}
    {% include 'dashboard/task/modal/archive.html.twig' %}
    {% include 'dashboard/project/modal/create.html.twig' with {'form': projectForm} %}
    {% include 'dashboard/team/modal/create.html.twig' with {'form': teamForm} %}
    {% include 'dashboard/goal/modal/create.html.twig' with {'form': goalForm} %}

{% endblock %}
