{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block head_title %}
    <h2>Dashboard</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="row  p-4  bg-light  rounded">
        <div class="col-sm  d-flex  flex-wrap  user">
            <div class="flex-shrink-0  mr-4">
                <img class="rounded  user-avatar" src="https://placehold.it/120x150" alt="User avatar" width="120" height="150">
            </div>

            <div class="d-flex  flex-column">
                <span class="mb-2  h5  font-weight-bold  user__name">{{ app.user.email }}</span>
                <span class="mb-2  h6">{{ app.user.roles|join(', ')}}</span>
                <a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a>
            </div>
        </div>

        <div class="col-sm  rating">
            <div>
                <p class="h6">Сколько оценок поставил: <span class="font-weight-bold">{{ authorMarks }}</span></p>
                <p class="h6  mb-4">Сколько оценок получил: &nbsp;<span class="font-weight-bold">{{ receiveMarks }}</span></p>
            </div>

            <div class="list-group  list-group-horizontal">
                <a class="list-group-item  list-group-item-action  d-flex  align-items-center  justify-content-center  w-25  p-0  py-2 " href="#">
                    <img src="img/icon-github.svg" alt="github icon" width="24" height="24">
                </a>
                <a class="list-group-item  list-group-item-action  d-flex  align-items-center  justify-content-center  w-25  p-0  py-2 " href="#">
                    <img src="img/icon-gitlab.svg" alt="gitlab icon" width="24" height="24">
                </a>
                <a class="list-group-item  list-group-item-action  d-flex  align-items-center  justify-content-center  w-25  p-0  py-2 " href="#">
                    <img src="img/icon-telegram.svg" alt="telegram icon" width="24" height="24">
                </a>
                <a class="list-group-item  list-group-item-action  d-flex  align-items-center  justify-content-center  w-25  p-0  py-2 " href="#">
                    <img src="img/icon-skype.svg" alt="skype icon" width="24"  height="24">
                </a>
            </div>
        </div>
    </div>
 
    <div class="w-100  my-4  mx-3  separator"></div>
 
    <br>
    
    <div class="row">
        <div class="col col-sm-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tasks</a>
                    {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_PROJECT'), app.user) %}
                        <a class="nav-item nav-link" id="nav-projects-tab" data-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-projects" aria-selected="false">Projects</a>
                    {% endif %}
                    {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_TEAM'), app.user) %}
                        <a class="nav-item nav-link" id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab" aria-controls="nav-team" aria-selected="false">Teams</a>
                    {% endif %}

                </div>

            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <br>

                    <div class="row">
                        <div class="col-sm-12">
                            {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_CREATE_TASK'), app.user) %}
                                <a href="{{ path('app_dashboard_task_create') }}" class="btn btn-primary float-right">Create</a>
                            {% endif %}
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-12">
                            {% for item in tasks %}
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Executor: {{ item.executor.email }}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Team: {{ item.team.name }}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Project: {{ item.project.name }}</h6>
                                        <p class="card-text">{{ item.description }}</p>
                        
                                        {% if (is_granted_mark(app.user)) %}
                                            <a href="{{ path('app_dashboard_check_list', {"id" : item.id}) }}" class="btn btn-primary {{ (is_granted(constant('App\\Enum\\PermissionEnum::CAN_BE_TEAMLEAD'), app.user) and app.user.id == item.executor.id) ? 'disabled' : '' }}">Mark</a>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    
                </div>

                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_TEAM'), app.user) %}

                    <div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_CREATE_TEAM'), app.user) %}
                                    <a href="{{ path('app_dashboard_team_create') }}" class="btn btn-primary float-right">Create</a>
                                {% endif %}
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                {% for item in app.user.myTeams %}
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item.name }}</h5>
                                            <p class="card-text">{{ item.description }}</p>

                                            <a href="{{ path('app_dashboard_team_manage', {'id': item.id}) }}" class="btn btn-primary">Detail</a>
                                        </div>
                                    </div>
                                
                                    <br>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                {% endif %}

                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_SEE_MANAGE_PROJECT'), app.user) %}

                    <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                {% if is_granted(constant('App\\Enum\\PermissionEnum::CAN_CREATE_PROJECT'), app.user) %}
                                    <a href="{{ path('app_dashboard_project_create') }}" class="btn btn-primary float-right">Create</a>
                                {% endif %}
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                {% for item in app.user.myProjects %}
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item.name }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Team: {{ item.team.name }}</h6>
                                            <h6 class="card-subtitle mb-2 text-muted">Customer: {{ item.customer.email }}</h6>
                                            <p class="card-text">{{ item.description }}</p>
                                        </div>
                                    </div>
                                
                                    <br>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                {% endif %}


            </div>

        </div>
    </div>

{% endblock %}
